body {
  margin: 0;
  font-family: sans-serif;
  text-align: center;
  background-color: #ecedf0;
}

/* Additional Material UI styles */
.leaflet-container {
  margin: 15px;
  height: 300px;
  border-radius: 0.25rem;
}

.MuiAutocomplete-root {
  width: 100% !important;
}

.MuiCard-root {
  padding: 1vw;
  box-shadow: 0 2px 0 rgba(90, 97, 105, 0.11), 0 4px 8px rgba(90, 97, 105, 0.12),
    0 10px 10px rgba(90, 97, 105, 0.06), 0 7px 70px rgba(90, 97, 105, 0.1) !important;
  background-color: #fff !important;
  border: none !important;
  border-radius: 0.25rem !important;
}
