@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  background-color: #ecedf0;
  font-family: sans-serif;
  text-align: center;
}

.hourly-forecast {
  overflow-x: scroll;
}

.hourly-forecast .column {
  width: 3936px;
}

.hours,
.drops,
.wind {
  display: flex;
  justify-content: center;
  align-items: center;
  float: left;
}

.hourly-forecast .column .p-3 {
  display: flex;
  width: 82px;
  justify-content: center;
  align-items: center;
}

.hourly-forecast .column .rain {
  position: relative;
  height: 82px;
}

.hourly-forecast .column .rain .drops {
  position: absolute;
  bottom: 0px;
  left: 0px;
  display: inline-block;
  width: 100%;
}

.hourly-forecast .column .rain .snow {
  position: absolute;
  bottom: 0px;
  left: 0px;
  display: inline-block;
  width: 100%;
}

.tab-content {
  display: none;
}

.tab-content.active {
  display: block;
}

/* Additional Material UI styles */
.leaflet-container {
  border-radius: 0.25rem;
  margin: 15px;
  height: 300px;
}

.MuiAutocomplete-root {
  width: 100% !important;
}

.MuiCard-root {
  border: none !important;
  border-radius: 0.25rem !important;
  background-color: #fff !important;
  padding: 1vw;
  box-shadow: 0 2px 0 rgba(90, 97, 105, 0.11), 0 4px 8px rgba(90, 97, 105, 0.12),
    0 10px 10px rgba(90, 97, 105, 0.06), 0 7px 70px rgba(90, 97, 105, 0.1) !important;
}